body {
    min-width: 280px;
}
.img-medium-parent {
    max-width: 200px;
}
.uk-input ~ .uk-alert-danger {
    display: none;
}
.uk-form-danger ~ .uk-alert-danger {
    display: inherit;
    padding: 10px;
}
@media screen and (min-width: 640px) {
    .flex-row-s {
        flex-direction: row;
    }
    .flex-column-s {
        flex-direction: column;
    }
    .margin-right-s {
        margin-right: 10px;
    }
    .margin-top-s {
        margin-top: 10px;
    }
}
